In [11]:
def translations_df(trans, idx=0):
    import sagas
    # fill with default field names
    size = len(trans[idx][2][0])
    # print('size', size)
    listOfStrings = ['ext_' + str(i) for i in range(size)]
    if size==2:
        listOfStrings[0:2] = ['word', 'translations']
    else:
        listOfStrings[0:4] = ['word', 'translations', 'c', 'freq']

    return sagas.to_df(trans[idx][2], listOfStrings)

trans=[['动词', ['fly'], [['fly', ['fly'], None, 0.34023288]], 'fly', 2], 
       ['名词', ['aircraft'], [['aircraft', ['fly'], None, 0.042585135]], 'fly', 1]]
print('total', len(trans))
for idx,el in enumerate(trans):
    print(el[0])
    display(translations_df(trans, idx))

total 2
动词

  word translations     c      freq
0  fly        [fly]  None  0.340233

名词

       word translations     c      freq
0  aircraft        [fly]  None  0.042585

In [5]:
translations_df(trans, 1)

       word translations     c      freq
0  aircraft        [fly]  None  0.042585

In [2]:
from sagas.nlu.translator import translate, with_words, WordsObserver
lang='zh'
word='和'
r, t = translate(word, source=lang, target='en', 
                 options={'get_pronounce'}, tracker=with_words())
print(f"translate {word}: {r}")
ob=t.observer(WordsObserver)
print(ob.get_candidates('n'))
print(ob.get_candidates('a'))
print(ob.get_candidates('*'))
print(ob.trans_dfs.keys())
print('empty', ob.get_candidates('xx'))
ob.trans_dfs['noun']

translate 和: with
['sum', 'summation', 'peace']
['harmonious', 'kind']
['and']
dict_keys(['conjunction', 'noun', 'adverb', 'verb', 'adjective'])
empty []

        word             translations        c      freq
0        sum  [和, 总和, 概括, 金额, 合计, 总数]  [55941]  0.000231
1  summation                  [和, 合计]  [55941]  0.000004
2      peace   [和平, 和睦, 和约, 和, 安, 安乐]     None  0.000001