In [1]:
# %load_ext autoreload
# %autoreload 2

In [2]:
from sagas.nlu.warehouse import Warehouse
Warehouse.all_entities()[:5]

2020-04-16 05:06:23,816 - sagas.ofbiz.connector - INFO - connect to py4j-gateway localhost 22333

['InventoryItemAndDetail',
 'PaymentBudgetAllocation',
 'AgreementRole',
 'PaymentGatewayPayflowPro',
 'SurveyTrigger']

In [11]:
wh=Warehouse.create()
wh.entity('Person').records_df()

,lastName,createdStamp,partyId,lastUpdatedStamp,createdTxStamp,lastUpdatedTxStamp,firstName,middleName,personalTitle
0,Administrator,2019-03-04 12:33:33.434,accountingadmin,2019-03-04 12:33:33.434,2019-03-04 12:33:30.670,2019-03-04 12:33:30.670,Accounting,None,None
1,Buyer,2019-03-04 12:33:32.311,AcctBuyer,2019-03-04 12:33:32.311,2019-03-04 12:33:30.670,2019-03-04 12:33:30.670,Acct,None,None
2,ADMINISTRATOR,2019-03-04 12:33:28.602,admin,2019-03-04 12:33:28.602,2019-03-04 12:33:28.563,2019-03-04 12:33:28.563,THE,PRIVILEGED,Mr.
3,Smith,2019-03-04 12:33:29.243,approver,2019-03-04 12:33:29.243,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Robert,None,Captain
4,Al,2019-03-04 12:33:28.884,AUTHOR_BIGAL,2019-03-04 12:33:28.884,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Big,None,None
5,Max,2019-03-04 12:33:28.955,AUTHOR_MADMAX,2019-03-04 12:33:28.955,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Mad,None,None
6,Administrator,2019-03-04 12:33:28.660,bizadmin,2019-03-04 12:33:28.660,2019-03-04 12:33:28.563,2019-03-04 12:33:28.563,Business,None,None
7,Blog,2019-03-04 12:33:28.815,BLOGUSER_ADMIN,2019-03-04 12:33:28.815,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Admin,None,None
8,Blog,2019-03-04 12:33:28.841,BLOGUSER_EDITOR,2019-03-04 12:33:28.841,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Editor,None,None
9,Blog,2019-03-04 12:33:28.878,BLOGUSER_GUEST,2019-03-04 12:33:28.878,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Guest,None,None
10,Blog,2019-03-04 12:33:28.864,BLOGUSER_USER,2019-03-04 12:33:28.864,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,User,None,None
11,Admin,2019-03-04 12:33:28.731,BLOG_ADMIN,2019-03-04 12:33:28.731,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Blog,None,None
12,Author,2019-03-04 12:33:28.749,BLOG_AUTHOR,2019-03-04 12:33:28.749,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Blog,None,None
13,Editor,2019-03-04 12:33:28.761,BLOG_EDITOR,2019-03-04 12:33:28.761,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Blog,None,None
14,Guest,2019-03-04 12:33:28.720,BLOG_GUEST,2019-03-04 12:33:28.720,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Blog,None,None
15,Approver,2019-03-04 12:33:34.207,DemoApprover,2019-03-04 12:33:34.207,2019-03-04 12:33:34.102,2019-03-04 12:33:34.102,Demo,None,None
16,Buyer,2019-03-04 12:33:48.342,DemoBuyer,2019-03-04 12:33:48.342,2019-03-04 12:33:34.232,2019-03-04 12:33:34.232,Demo,None,None
17,Agent,2019-03-04 12:33:48.470,DemoCustAgent,2019-03-04 12:33:48.470,2019-03-04 12:33:34.232,2019-03-04 12:33:34.232,Demo,None,None
18,Customer,2019-03-04 12:33:48.501,DemoCustomer,2019-03-04 12:33:48.501,2019-03-04 12:33:34.232,2019-03-04 12:33:34.232,Demo,None,None
19,Customer 1,2019-03-04 12:34:00.376,DemoCustomer1,2019-03-04 12:34:00.376,2019-03-04 12:34:00.305,2019-03-04 12:34:00.305,ManagerP1,None,None

In [13]:
ent=wh.entity('Person')
ent.meta.primary, ent.word()

(['partyId'], 'person')

In [6]:
ent.meta.desc()

PERSON Person None
+------------------------+----------------+-----------------------------+
| name                   | type           | string                      |
|------------------------+----------------+-----------------------------|
| yearsWithEmployer      | numeric        | YEARS_WITH_EMPLOYER         |
| lastName               | name           | LAST_NAME                   |
| occupation             | name           | OCCUPATION                  |
| gender                 | indicator      | GENDER                      |
| employmentStatusEnum.. | id             | EMPLOYMENT_STATUS_ENUM_ID   |
| socialSecurityNumber   | long-varchar   | SOCIAL_SECURITY_NUMBER      |
| createdStamp           | date-time      | CREATED_STAMP               |
| suffix                 | name           | SUFFIX                      |
| mothersMaidenName      | long-varchar   | MOTHERS_MAIDEN_NAME         |
| middleNameLocal        | name           | MIDDLE_NAME_LOCAL           |
| existingCustomer       | indicator      | EXISTING_CUSTOMER           |
| residenceStatusEnumI.. | id             | RESIDENCE_STATUS_ENUM_ID    |
| nickname               | name           | NICKNAME                    |
| partyId                | id             | PARTY_ID                    |
| memberId               | id             | MEMBER_ID                   |
| height                 | floating-point | HEIGHT                      |
| passportNumber         | long-varchar   | PASSPORT_NUMBER             |
| lastUpdatedStamp       | date-time      | LAST_UPDATED_STAMP          |
| lastNameLocal          | name           | LAST_NAME_LOCAL             |
| comments               | comment        | COMMENTS                    |
| monthsWithEmployer     | numeric        | MONTHS_WITH_EMPLOYER        |
| createdTxStamp         | date-time      | CREATED_TX_STAMP            |
| weight                 | floating-point | WEIGHT                      |
| lastUpdatedTxStamp     | date-time      | LAST_UPDATED_TX_STAMP       |
| birthDate              | date           | BIRTH_DATE                  |
| otherLocal             | name           | OTHER_LOCAL                 |
| firstName              | name           | FIRST_NAME                  |
| cardId                 | id-long        | CARD_ID                     |
| middleName             | name           | MIDDLE_NAME                 |
| firstNameLocal         | name           | FIRST_NAME_LOCAL            |
| passportExpireDate     | date           | PASSPORT_EXPIRE_DATE        |
| salutation             | name           | SALUTATION                  |
| personalTitle          | name           | PERSONAL_TITLE              |
| deceasedDate           | date           | DECEASED_DATE               |
| totalYearsWorkExperi.. | floating-point | TOTAL_YEARS_WORK_EXPERIEN.. |
| maritalStatus          | indicator      | MARITAL_STATUS              |
+------------------------+----------------+-----------------------------+
+------------------------+--------+-----------------------------+
| name                   | type   | string                      |
|------------------------+--------+-----------------------------|
| Party                  | one    | Party                       |
| Enumeration            | one    | EmploymentStatusEnumerati.. |
| Enumeration            | one    | ResidenceStatusEnumeratio.. |
| PartyContactMech       | many   | PartyContactMech            |
| PartyContactMechPurp.. | many   | PartyContactMechPurpose     |
| PersonTraining         | many   | ApproverPersonTraining      |
| ProdCatalogRole        | many   | ProdCatalogRole             |
| ProductStoreRole       | many   | ProductStoreRole            |
| Shipment               | many   | ToShipment                  |
| Shipment               | many   | FromShipment                |
| ShipmentRouteSegment   | many   | CarrierShipmentRouteSegme.. |
| UserLogin              | many   | UserLogin                   |
| WebSiteRole            | many   | WebSiteRole                 |
+------------------------+--------+-----------------------------+

In [1]:
from sagas.nlu.warehouse import Warehouse

wh=Warehouse.create()
wh.entity('InventoryItemAndDetail').words, \
    wh.entity('InventoryItemAndDetail').title

2020-04-16 14:52:16,887 - sagas.ofbiz.connector - INFO - connect to py4j-gateway localhost 22333

('inventory item and detail', 'Inventory Item And Detail')

In [4]:
def words(str):
    return ''.join([' ' + i.lower() if i.isupper()
                    else i for i in str]).lstrip(' ')
words('InventoryItemAndDetail')

'inventory item and detail'

In [1]:
from sagas.nlu.warehouse import Warehouse

wh=Warehouse.create()
wh//'find*'

2020-04-16 15:05:51,017 - sagas.ofbiz.connector - INFO - connect to py4j-gateway localhost 22333

[service findAssocContent,
 service findContentParents,
 service findCustomTimePeriods,
 service findLastClosedDate,
 service findOrders,
 service findOrdersToPickMove,
 service findPartiesById,
 service findParty,
 service findPartyFromEmailAddress,
 service findPartyFromTelephone,
 service findPartyFromTelephoneComplete,
 service findPartyInSalesOpportunityRole,
 service findProductById,
 service findProductInventorylocations,
 service findProductMrpQoh,
 service findRelatedContent,
 service findStockMovesNeeded,
 service findStockMovesRecommended,
 service findSubNodes]

In [1]:
from sagas.nlu.warehouse import Warehouse
wh=Warehouse.create()
display((wh/'Person').meta_df)
[(el, el.words) for el in wh//'*Person*']

2020-04-16 21:45:26,197 - sagas.ofbiz.connector - INFO - connect to py4j-gateway localhost 22333

                        name            type primary internal
0                    partyId              id       *
1                 salutation            name
2                  firstName            name
3                 middleName            name
4                   lastName            name
5              personalTitle            name
6                     suffix            name
7                   nickname            name
8             firstNameLocal            name
9            middleNameLocal            name
10             lastNameLocal            name
11                otherLocal            name
12                  memberId              id
13                    gender       indicator
14                 birthDate            date
15              deceasedDate            date
16                    height  floating-point
17                    weight  floating-point
18         mothersMaidenName    long-varchar
19             maritalStatus       indicator
20      socialSecurityNumber    long-varchar
21            passportNumber    long-varchar
22        passportExpireDate            date
23  totalYearsWorkExperience  floating-point
24                  comments         comment
25    employmentStatusEnumId              id
26     residenceStatusEnumId              id
27                occupation            name
28         yearsWithEmployer         numeric
29        monthsWithEmployer         numeric
30          existingCustomer       indicator
31                    cardId         id-long
32          lastUpdatedStamp       date-time                *
33        lastUpdatedTxStamp       date-time                *
34              createdStamp       date-time                *
35            createdTxStamp       date-time                *

[(entity Person, 'person'),
 (entity PartyAndUserLoginAndPerson, 'party and user login and person'),
 (entity EmploymentAndPerson, 'employment and person'),
 (entity PartyAndPerson, 'party and person'),
 (entity PersonTraining, 'person training'),
 (service createPerson, 'create person'),
 (service createPersonAndUserLogin, 'create person and user login'),
 (service createUpdatePerson, 'create update person'),
 (service getPerson, 'get person'),
 (service sendUpdatePersonalInfoEmailNotification,
  'send update personal info email notification'),
 (service updatePerson, 'update person')]

In [2]:
(wh/'Person').records_df().head()

,lastName,createdStamp,partyId,lastUpdatedStamp,createdTxStamp,lastUpdatedTxStamp,firstName,middleName,personalTitle
0,Administrator,2019-03-04 12:33:33.434,accountingadmin,2019-03-04 12:33:33.434,2019-03-04 12:33:30.670,2019-03-04 12:33:30.670,Accounting,None,None
1,Buyer,2019-03-04 12:33:32.311,AcctBuyer,2019-03-04 12:33:32.311,2019-03-04 12:33:30.670,2019-03-04 12:33:30.670,Acct,None,None
2,ADMINISTRATOR,2019-03-04 12:33:28.602,admin,2019-03-04 12:33:28.602,2019-03-04 12:33:28.563,2019-03-04 12:33:28.563,THE,PRIVILEGED,Mr.
3,Smith,2019-03-04 12:33:29.243,approver,2019-03-04 12:33:29.243,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Robert,None,Captain
4,Al,2019-03-04 12:33:28.884,AUTHOR_BIGAL,2019-03-04 12:33:28.884,2019-03-04 12:33:28.687,2019-03-04 12:33:28.687,Big,None,None

In [11]:
from sagas.util.name_util import to_global_id, from_global_id

def resolve_entity(gid):
    t,_=from_global_id(gid)
    ent=wh/t
    return ent.meta.global_ref.get_record(gid)

def get_gid(val):
    ent=wh/val.getEntityName()
    return ent.meta.global_ref.get_gid(val)

gid='UHJvZHVjdFR5cGU6QUdHUkVHQVRFRA=='
val=resolve_entity(gid)
val.getEntityName(), get_gid(val), val

('ProductType',
 'UHJvZHVjdFR5cGU6QUdHUkVHQVRFRA==',
 {'lastUpdatedStamp': JavaObject id=o6557, 'isPhysical': 'Y', 'parentTypeId': 'GOOD', 'isDigital': 'N', 'hasTable': 'N', 'createdTxStamp': JavaObject id=o6558, 'createdStamp': JavaObject id=o6559, 'description': 'Configurable Good', 'lastUpdatedTxStamp': JavaObject id=o6560, 'productTypeId': 'AGGREGATED'})