In [2]:
from sagas.train.parallel_corpus import load_corpus, take_samples
import sagas
items=load_corpus('/pi/ai/seq2seq/ind-eng/ind.txt')
rows=take_samples(items)
sagas.to_df(rows, ['en','id'])

,en,id
0,Tom showed up at John and Mary's wedding.,Tom hadir pada pernikahan John dan Mary.
1,I'd like to rent a car.,Aku ingin menyewa sebuah mobil.
2,She is still financially dependent on her pare...,Dia masih bergantung secara finansial kepada o...
3,You should concentrate on the road when you're...,Anda harus berkonsentrasi pada jalan saat anda...
4,I remember seeing that movie.,Saya ingat dulu pernah nonton film itu
5,Are we all ready?,Apakah kita siap?
6,Tom is older than me.,Tom lebih tua ketimbang aku.
7,We're going to the theater.,Kami akan pergi ke teater.
8,I understand.,Aku mengerti.
9,Have you ever been to Mexico?,Apakah kamu pernah ke Meksiko?

In [4]:
corpus_df=sagas.to_df(items, ['en','id'])
corpus_df.head()

      en       id
0   Run!    Lari!
1   Who?   Siapa?
2   Wow!     Wow!
3  Help!  Tolong!
4  Jump!  Lompat!

In [1]:
import pandas as pd
def list_chapter_titles(lang):
    dfjson = pd.read_json(f'/pi/stack/crawlers/langcrs/all_{lang}.json')
    return [name for name, group in dfjson.groupby('chapter')]
list_chapter_titles('id')

['Activities',
 'Adjectives 1',
 'Adjectives 2',
 'Adjectives 3',
 'Adverbs',
 'Appointment',
 'Around the house',
 'Asking for directions',
 'Asking questions 1',
 'Asking questions 2',
 'At school',
 'At the airport',
 'At the bank',
 'At the cinema',
 'At the doctor',
 'At the post office',
 'At the restaurant 1',
 'At the restaurant 2',
 'At the restaurant 3',
 'At the restaurant 4',
 'At the train station',
 'At the zoo',
 'Beverages',
 'Car breakdown',
 'City tour',
 'Colors',
 'Conjunctions 1',
 'Conjunctions 2',
 'Conjunctions 3',
 'Conjunctions 4',
 'Countries and Languages',
 'Days of the week',
 'Double connectors',
 'En route',
 'Family Members',
 'Feelings',
 'Fruits and food',
 'Genitive',
 'Getting to know others',
 'Going out in the evening',
 'House cleaning',
 'Imperative 1',
 'Imperative 2',
 'In nature',
 'In the city',
 'In the department store',
 'In the discotheque',
 'In the hotel – Arrival',
 'In the hotel – Complaints',
 'In the kitchen',
 'In the swimming pool',
 'In the taxi',
 'Learning foreign languages',
 'Months',
 'Negation 1',
 'Negation 2',
 'Numbers',
 'On the train',
 'Ordinal numbers',
 'Parts of the body',
 'Past tense 1',
 'Past tense 2',
 'Past tense 3',
 'Past tense 4',
 'Past tense of modal verbs 1',
 'Past tense of modal verbs 2',
 'People',
 'Possessive pronouns 1',
 'Possessive pronouns 2',
 'Preparing a trip',
 'Public transportation',
 'Questions – Past tense 1',
 'Questions – Past tense 2',
 'Reading and writing',
 'Running errands',
 'Seasons and Weather',
 'Shopping',
 'Shops',
 'Small Talk 1',
 'Small Talk 2',
 'Small Talk 3',
 'Sports',
 'Subordinate clauses: if',
 'Subordinate clauses: that 1',
 'Subordinate clauses: that 2',
 'The time',
 'Vacation activities',
 'Where is ... ?',
 'Working',
 'Yesterday – today – tomorrow',
 'asking for something',
 'big – small',
 'giving reasons 1',
 'giving reasons 2',
 'giving reasons 3',
 'to be allowed to',
 'to have to do something / must',
 'to like something',
 'to need – to want to',
 'to want something']

In [33]:
db.meta.update_one({'item': 'corpus'}, {'$set':{'chapters': list_chapter_titles('id')}}, upsert=True)

In [34]:
db.meta.find_one({'item':'corpus'})

{'_id': ObjectId('5dfa34dbf27fd7a9e58acf95'),
 'item': 'corpus',
 'chapters': ['Activities',
  'Adjectives 1',
  'Adjectives 2',
  'Adjectives 3',
  'Adverbs',
  'Appointment',
  'Around the house',
  'Asking for directions',
  'Asking questions 1',
  'Asking questions 2',
  'At school',
  'At the airport',
  'At the bank',
  'At the cinema',
  'At the doctor',
  'At the post office',
  'At the restaurant 1',
  'At the restaurant 2',
  'At the restaurant 3',
  'At the restaurant 4',
  'At the train station',
  'At the zoo',
  'Beverages',
  'Car breakdown',
  'City tour',
  'Colors',
  'Conjunctions 1',
  'Conjunctions 2',
  'Conjunctions 3',
  'Conjunctions 4',
  'Countries and Languages',
  'Days of the week',
  'Double connectors',
  'En route',
  'Family Members',
  'Feelings',
  'Fruits and food',
  'Genitive',
  'Getting to know others',
  'Going out in the evening',
  'House cleaning',
  'Imperative 1',
  'Imperative 2',
  'In nature',
  'In the city',
  'In the department store',
  'In the discotheque',
  'In the hotel – Arrival',
  'In the hotel – Complaints',
  'In the kitchen',
  'In the swimming pool',
  'In the taxi',
  'Learning foreign languages',
  'Months',
  'Negation 1',
  'Negation 2',
  'Numbers',
  'On the train',
  'Ordinal numbers',
  'Parts of the body',
  'Past tense 1',
  'Past tense 2',
  'Past tense 3',
  'Past tense 4',
  'Past tense of modal verbs 1',
  'Past tense of modal verbs 2',
  'People',
  'Possessive pronouns 1',
  'Possessive pronouns 2',
  'Preparing a trip',
  'Public transportation',
  'Questions – Past tense 1',
  'Questions – Past tense 2',
  'Reading and writing',
  'Running errands',
  'Seasons and Weather',
  'Shopping',
  'Shops',
  'Small Talk 1',
  'Small Talk 2',
  'Small Talk 3',
  'Sports',
  'Subordinate clauses: if',
  'Subordinate clauses: that 1',
  'Subordinate clauses: that 2',
  'The time',
  'Vacation activities',
  'Where is ... ?',
  'Working',
  'Yesterday – today – tomorrow',
  'asking for something',
  'big – small',
  'giving reasons 1',
  'giving reasons 2',
  'giving reasons 3',
  'to be allowed to',
  'to have to do something / must',
  'to like something',
  'to need – to want to',
  'to want something']}

In [2]:
lang='id'
dfjson = pd.read_json(f'/pi/stack/crawlers/langcrs/all_{lang}.json')
dfjson.head()

,chapter,index,text,translate,translit,audio
0,People,1,I,saya,,https://www.book2.nl/book2/ID/SOUND/0003.mp3
1,People,2,I and you,saya dan kamu,,https://www.book2.nl/book2/ID/SOUND/0004.mp3
2,People,3,both of us,kami berdua,,https://www.book2.nl/book2/ID/SOUND/0005.mp3
3,People,4,he,dia (laki-laki),,https://www.book2.nl/book2/ID/SOUND/0006.mp3
4,People,5,he and she,dia (laki-laki) dan dia (perempuan),,https://www.book2.nl/book2/ID/SOUND/0007.mp3

In [4]:
from sagas.nlu.utils import fix_sents
for sent in dfjson['translate'][:10]:
    print(fix_sents(sent, lang))

saya
saya dan kamu
kami berdua
dia
dia dan dia
mereka berdua
pria
wanita
anak
sebuah keluarga

In [5]:
from pymongo import MongoClient
client = MongoClient(port=27017)
db=client.lang

In [9]:
for doc in db.test.find({}):
    print(doc)

{'_id': ObjectId('5dfa0a52f27fd7a9e58aa65a'), 'z': 1}
{'_id': ObjectId('5dfa0b1df27fd7a9e58aa67a'), 'x': 4}
{'_id': ObjectId('5dfa0b35f27fd7a9e58aa67f'), 'x': 4}
{'_id': ObjectId('5dfa0ba7f27fd7a9e58aa690'), 'y': 1, 'z': 'zval'}
{'_id': ObjectId('5dfa0bb0f27fd7a9e58aa694'), 'y': 1, 'z': 'zval'}
{'_id': ObjectId('5dfa0bbef27fd7a9e58aa699'), 'x': 2, 'y': 'yval', 'z': 'zval'}
{'_id': ObjectId('5dfa0e11f27fd7a9e58aa6ef'), 'x': 1, 'y': 'yval', 'z': 'zval'}
{'_id': ObjectId('5dfa0e45f27fd7a9e58aa6f8'), 'x': 11, 'y': 'yval'}

In [20]:
def store_dataset(lang):
    dfjson = pd.read_json(f'/pi/stack/crawlers/langcrs/all_{lang}.json')
    for index, row in dfjson.iterrows():
        result = db.corpus.update_one({'text': row['text'], 'chapter': row['chapter'], 'index':row['index']}, 
                                      {'$set':{f'lang_{lang}': row['translate']}}, 
                                      upsert=True)
store_dataset('id')

In [22]:
store_dataset('fr')

In [23]:
# db.corpus.count({})
db.corpus.count_documents({})

1800

In [31]:
def list_chapter_text(lang, chapter, fix=False):
    field=f'lang_{lang}' if lang!='en' else 'text'
    print(*[doc[field] if not fix else fix_sents(doc[field], lang)
            for doc in db.corpus.find({'chapter':chapter})], sep='\n')

list_chapter_text('id', 'People')

saya
saya dan kamu
kami berdua
dia (laki-laki)
dia (laki-laki) dan dia (perempuan)
mereka berdua
pria
wanita
anak
sebuah keluarga
keluarga saya
Keluarga saya berada di sini.
Saya di sini.
Kamu di sini.
Dia (laki-laki) di sini dan dia (perempuan) di sini.
Kami di sini.
Kalian di sini.
Mereka semua di sini.

In [30]:
list_chapter_text('fr', 'People', False)

moi / je
moi et toi
nous deux
lui / il
lui et elle
eux deux
l’homme
la femme
l’enfant
une famille
ma famille
Ma famille est ici.
Je suis ici.
Tu es ici.
Il est ici et elle est ici.
Nous sommes ici.
Vous êtes ici.
Ils sont tous ici.

In [29]:
list_chapter_text('fr', 'People', True)

moi
moi et toi
nous deux
lui
lui et elle
eux deux
l’homme
la femme
l’enfant
une famille
ma famille
Ma famille est ici.
Je suis ici.
Tu es ici.
Il est ici et elle est ici.
Nous sommes ici.
Vous êtes ici.
Ils sont tous ici.

In [32]:
list_chapter_text('en', 'People')

I
I and you
both of us
he
he and she
they both
the man
the woman
the child
a family
my family
My family is here.
I am here.
You are here.
He is here and she is here.
We are here.
You are here.
They are all here.

In [36]:
db.corpus.find_one({'chapter':'People', 'index':3})

{'_id': ObjectId('5dfa2b10f27fd7a9e58aaa4f'),
 'chapter': 'People',
 'index': 3,
 'text': 'both of us',
 'lang_id': 'kami berdua',
 'lang_fr': 'nous deux'}

In [43]:
rec=db.corpus.find_one({'text': 'both of us'})
rec

{'_id': ObjectId('5dfa2b10f27fd7a9e58aaa4f'),
 'chapter': 'People',
 'index': 3,
 'text': 'both of us',
 'lang_id': 'kami berdua',
 'lang_fr': 'nous deux',
 'intent': 'person_plural'}

In [45]:
rec['intent'] if 'intent' in rec else 'none.'

'person_plural'

In [41]:
result = db.corpus.update_many({'text': 'both of us'}, {'$set':{'intent': 'person_plural'}}, upsert=True)

In [58]:
rs=db.corpus.find({ '$and': [ 
    { "intent": {'$not':{'$size': 0}} },
    { "intent": {'$exists': True } }
]})
# print(rs.count())
rm={r['text']:r['intent'] for r in rs}
print({r for r in rm.values()})
rm

{'person_plural'}

{'both of us': 'person_plural'}